*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "poppins-Regular.ttf";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body{
    font-family: "poppins-Regular.ttf";
}
/* :::::::::::::::::::: Nav Bar Section Starts :::::::::::::::::::::: */
.nav-bar{
    height: 10vh;
    background-color: gainsboro;
}
.nav-bar > div > .logo{
    font-size: 2.3em !important;
    color: #264d31;
}
.nav-bar > div > div > .nav-container{
    margin-left: 20em !important;
}
/* .nav-bar > div > div > .nav-container > .nav-item > .active{
    cursor: pointer;
    border-bottom: 2px solid #264d31;
} */
/* .nav-bar > div > div > .nav-container > .nav-item > .nav-link{
    cursor: pointer;
    border-bottom: 2px solid #264d31;
} */
.nav-bar > div > div > .nav-container > .nav-item > .nav-link{
    color: #264d31 !important;
    font-weight: 900;
    font-size: 1.1em;
}
.nav-bar > div > div > .navitem{
    margin-left: 20em;
}
.nav-bar > div > div > .navitem > ul > .nav-item > .nav-link{
    color: #264d31;
    font-weight: 900;
    font-size: 1em;
}
.nav-bar > div > div > .navitem > ul > .nav-item > .nav-link > .btn{
    color: #ffffff;
    font-weight: 900;
    font-size: 1em;
    padding: 5px 15px;
    background-color: #264d31;
}
.nav-bar > div > div > .navitem > ul > .nav-item > .nav-link > .btn:hover{
    cursor: pointer;
    border: 2px solid #264d31;
    background-color: transparent;
    color: #264d31;
    transition: 1.0s ease-in-out;
}
/* :::::::::::::::::: Nav Bar Section Ends :::::::::::::::::::::::: */

/* }
#banner > div{
    height: 70vh;
    background-image: url(../images/carousel-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
#banner > div > .carousel-inner{
    height: 70vh;
}

/* :::::::::::::::::::::: Banner Section Begins :::::::::::::::::::: */

/* :::::::::::::::::::::: Banner Section Ends :::::::::::::::::::::: */

